.card{
    background-color: #2a2a2a;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    color: aliceblue;
    font-weight: lighter;
}

.card img{
    padding: 0px;
    margin: 0px;
    height: 150px;
}

.weather-container{
    background-color: rgb(209, 226, 238);
    /*height: 100%;*/
    margin: auto;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.temp-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.chart{
    background-color: #2a2a2a;
    border-radius: 20px;
    height: 280px;
    padding: 10px;
}